doctype html
head
    title Title
    style
        include style.css
    title= title
body
h1 Click on the cat
    header
        h2= Name
    figure
       img.big.small.trans(src='./img/cat.jpg')
    p= birthdate
    p= Weight
script(src='./js/main.js')
